* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
main {
    display: inline-block;
    background-color: #fff;
    --w: 800px;
    width: var(--w);
    margin: 80px calc((100% - var(--w)) / 2);
    height: 350px;
}
main > img {
    float: left;
    width: 40%;
    margin: 45px 10px 45px 80px;
    width: 200px;
    height: auto;
}

main > p {
    float: right;
    margin: 5px 10px 0 0;
}
main > div {
    margin: 50px 50px 50px 20px;
    float: right;
    width: 40%;  
}


h1 {
    font-size: 130px;
    color: #008000;
    font-family: Arial, Helvetica, sans-serif;
}
main div p:nth-of-type(1) {
    color: #008000;
    
}

main div p:nth-of-type(2) {
   margin-top: 15px; 
}

a {
    margin-top: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-right: 30px;
    display: inline-block;
    background-color: #008000;
    color: white;
    padding: 15px 25px;
    font-size: 14px;
    margin-right: 10px;
}

a:hover {
    box-shadow: 5px 5px 5px 0px  #008000;
}